@model ComicBookGallery.Models.Series

@{
    ViewBag.Title = "Series";
    ViewBag.ShowBackBar = true;
}

<h2>@ViewBag.Title</h2>

<div class="well">
    <h5>Description</h5>
    <div>
        <p>@Html.Raw(Model.DescriptionHtml)</p>
    </div>
</div>

<h4>Comic Books Available in This Series</h4>

<div class="row">
        @foreach (var comicBook in Model.Issue)
        {
            <div class="col-md-3">
            @if (comicBook.Series.Id == Model.Id)
            {
                <h4>
                    @Html.ActionLink(comicBook.DisplayText, "Detail", 
                   "ComicBooks", new { id = comicBook.Id }, null)
                </h4>
                <a href="@Url.Action("Detail", 
                   "ComicBooks", new { id = comicBook.Id })">
                    <img src=@("/Images/" + comicBook.CoverImageFileName)
                         alt=@comicBook.DisplayText class="img-responsive" />
                </a>
            }
            </div>
        }
</div>